.seller-sidebar {
    min-height: 100vh;
    box-shadow: 2px 0 8px #1976d222;
}

    .seller-sidebar .nav-link.active,
    .seller-sidebar .nav-link:hover {
        background: #fff2;
        color: #FFD580 !important;
        border-radius: 12px;
    }
